@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,800&display=swap');

*{
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

::placeholder { 
    color: #6c757d !important;
}

:-ms-input-placeholder { 
    color: #6c757d !important;
}

::-ms-input-placeholder { 
    color: #6c757d !important;
}





::placeholder { 
    color: #6c757d !important;
}

:-ms-select-placeholder { 
    color: #6c757d !important;
}

::-ms-select-placeholder { 
    color: #6c757d !important;
}
  

body{
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #343c44 !important
} 

.btn.btn-link {
    letter-spacing: normal;
}

.btn.btn-primary, .btn-primary .btn {
    letter-spacing: normal !important;
}

span.input-group-text {
    font-size: 12px !important;
}

span.text-center.text-white.fw-bold.mt-4 {
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 24px !important;
}

h4.card-title.text-capitalize.text-black {
    color: #1e4076 !important;
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

h5{
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #343c44 !important
}

label {
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #343c44 !important;
    font-size: 14px !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#343c44 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

span{
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p{
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #343c44 !important
}

.btn{
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.ng-star-inserted{
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.orange-btn {
    border-color: #EE7D22 !important;
    background-color: #EE7D22 !important;
    color: #fff;
    letter-spacing: 1px !important;
    font-weight: 600;
}

.orange-btn.btn.btn-primary:hover {
    border-color: #EE7D22 !important;
    background-color: #EE7D22 !important;
}

.text-success{
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fst-normal {
    font-style: normal !important;
    font-family: "Nunito", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}